@{
    ViewData["Title"] = "Home Page";
}


@section CustomStyles {
  <link rel="stylesheet" href="~/css/Download.css" asp-append-version="true" />
}

<div class="text-center">
    <h1 class="display-4">Welcome to download page</h1>
</div>

@section CustomJs {
  <script src="~/js/Download.js" asp-append-version="true"></script>
}

