body {
  margin: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #000000, #222222);
  position: relative;
  color: #ffffff;
  border-radius: 45px;
  height: 3900px;
}

.gear {
  width: 200px;
  height: 200px;
  background: url('/images/images/gear.png') center/cover no-repeat;;
  background-size: cover;
  position: absolute;
  opacity: 45%;
  margin-top: 50px;
  margin-left: 100px;
  animation: constantAnimation 4s infinite linear;
  
}
@keyframes constantAnimation {
  0%, 100% {
      transform: rotate(0);
  }
  100% {
      transform: rotate(360deg);
  }
}

.additional-animation {
  animation: additionalAnimation 1s ease-in-out; /* Додаткова анімація при скролі */
}

@keyframes additionalAnimation {
  0% {
      transform: scale(1);

  }
  50% {
      transform: translateX(-180) translateY(130px) scale(1.2);
  }
  100% {
      transform: translateX(-156) translateY(114px) scale(1);

  }
}

.main-section {
  height: 250px;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 2s;
}
.parallax {
  width:200px;
  height: 700px;
  margin-left: 450px;
  font-size: 2em;
}

.section {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  margin-top: 150px;
  transform: translateX(-50px);
  transition: opacity 2s, transform 2s;
}
.section_last {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  margin-top: -400px;
}

.section.show {
  opacity: 1;
  transform: translateX(0);
}

.content {
  text-align: right;
  margin-top: -400px;
  padding-right: 50px;
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 2s, transform 2s;
}
.content_last{
  text-align: right;
  padding-right: 50px;
}

.section.show .content {
  opacity: 1;
  transform: translateX(0);
}
.content_right{
  margin-left:550px;
}
.content_left{
  margin-right:500px;
  margin-top: 200px;
}

.image-container {
  width: 500px;
  height: 500px;
  margin-top: -350px;
}

.animate{
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: -10px 0 10px rgba(241, 228, 228, 0.9);
}
.animate_left {
  animation: slideAndRotate 8s forwards;

}

.animate_right {
  margin-top: -100px;
  animation: slideAndRotateRight 8s forwards;
}

.content_main{
  margin-left:300px;
  margin-top: 300px;
}

.home_title{
  font-size: 65px;
  margin-left: 50px;
}
.home_text{
  font-size: 45px;
}

.content_text{
  font-size: 25px;
}
.main_butt{
  margin-left: 150px;
}

.butt_view{
  width: 150px;
  height:50px;
  font-size: 20px;
  margin-left: 25px;
}

.contact_form{
  width:600px;
  height:700px;
  margin:0 auto;
  border: 1px solid silver;
  margin-top:650px;
  box-shadow: 10px 10px 10px 10px rgba(241, 228, 228, 0.5);
  border-radius: 50px;
  animation: FormRotate  4s forwards;
  cursor: pointer;
}
.contact_content{
  width:500px;
  height:400px;
  margin: 0 auto;
  overflow: auto;
}
.contact_title{
  margin-right:150px;
  margin-top: 75px;
  margin-bottom: 75px;
}
.contact_fields{
  margin: 0 auto;
  margin-top: 25px;
}

@keyframes FormRotate {
  0% {
    top: -300px;
    transform: perspective(500px) rotateX(10deg);
  }
  50% {
    top: -300px;
    transform: perspective(500px) rotateX(-10eg);
  }
  100% {
    top: 0px;
    transform: perspective(500px) rotateX(0deg);
  }
}

@keyframes slideAndRotate {
  0% {
    left: -500px;
    transform: perspective(500px) rotateY(-10deg);
  }
  50% {
    left: -300px;
    transform: perspective(500px) rotateY(0deg);
  }
  100% {
    left: 0px;
    transform: perspective(500px) rotateY(10deg);
  }
}

@keyframes slideAndRotateRight {
  0% {
    right: -1200px;
    transform: perspective(500px) rotateY(10deg);
  }
  50% {
    right: -1000px;
    transform: perspective(500px) rotateY(0deg);
  }
  100% {
    right: -800px;
    transform: perspective(500px) rotateY(-10deg);
  }
}

@media (max-width: 1404px) {
  .main-section {
    margin-left: -100px;
  }
  .gear{
    margin-left: 0px;
  }
  .content_text{
    font-size: 20px;
  }
  .image-container {
    width: 400px;
    height: 400px;
  }
  .content_left{
    margin-right:350px;
    margin-top: 0px;
  }
  .animate_right {
    margin-top: -50px;
  }
  .section {
    width:800px;
    margin:0 auto;}

  .content_right{
    margin-left:450px;
  }
  .contact_form{
    width:500px;
    height: 600px;
  }
  .contact_content{
    width:400px;
    height:300px;
  }
  body{
    height: 3500px;
  }

    @keyframes slideAndRotateRight {
      0% {
        right: -800px;
        transform: perspective(500px) rotateY(10deg);
      }
      50% {
        right: -600px;
        transform: perspective(500px) rotateY(0deg);
      }
      100% {
        right: -500px;
        transform: perspective(500px) rotateY(-10deg);
      }
    }
}

@media (max-width: 1190px) {
  .main-section {
    margin-left: -200px;
  }
  .gear{
    margin-left: -100px;
  }
  .section {
    width:500px;
    margin:0 auto;}

}

@media (max-width: 990px) {
  .home_title{
    font-size: 45px;
    margin-left: 50px;
  }
  .home_text{
    font-size: 35px;
  }
  .main_butt{
    margin-left: 75px;
  }
  .gear{
    margin-left: -175px;
    width: 150px;
    height: 150px;
  }

}
@media (max-width: 768px) {
  .home_title{
    font-size: 35px;
    margin-left: 0px;
  }
  .home_text{
    font-size: 20px;
  }
  .main_butt{
    margin-left: -25px;
  }
  .gear{
    margin-left: -300px;
    width: 100px;
    height: 100px;
  }
  .main-section {
    margin-left: -250px;
  }

}

@media (max-width: 468px) {
  .home_title{
    font-size: 25px;
    margin-left: 20px;
  }
  .home_text{
    font-size: 15px;
    margin-left: 20px;
  }
  .main_butt{
    margin-left: 5px;
  }
  .gear{
    margin-left: -300px;
    width: 100px;
    height: 100px;
  }
  .main-section {
    margin-left: -250px;
  }
  .butt_view{
    width: 100px;
    height:50px;
    font-size: 10px;
    margin-left: 25px;
  }

}

@media (max-width: 400px) {
  .main-section {
    margin-left: -300px;}
  .gear{
    margin-left: -350px;
    width: 100px;
    height: 100px;
  }

}